
body {
	text-align: center;
}

html, body, .jumbotron, .well  {
	background-color: rgb(51, 51, 51);
	color: white;
}

.contact {
	background-color: rgb(255, 255, 255);
	color: black;
}

.footer {
    position: fixed;
    bottom: -4%;
	width:95%;
}

.no-border {
	border: none;
}

.description {
	overflow:hidden;
    text-overflow:ellipsis;
	white-space: nowrap;
}

/*
label.valid {
	width: 24px;
	height: 24px;
	background: url(assets/img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
*/