body {
	text-align: center;
	font-family: 'Libre Baskerville';
}
html,
body,
.jumbotron,
.well,
.row,
.panel,
.panel-default>.panel-heading,
.navbar {
	background-color: rgb(51, 51, 51);
	color: rgb(255, 255, 255);
}
.jumbotron {
	padding-top: 1em;
	padding-bottom: 1em;
}
.footer {
	position: fixed;
	bottom: -0.7em;
	width: 100%;
}
.no-border {
	border: none;
}
.description {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.no-decoration {
	text-decoration: none;
}
a:hover,
.nav>li>a:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: rgb(51, 51, 51);
}
.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
	margin: auto;
}
@font-face {
	font-family: 'OldEnglishTextMT';
	src: url('polices/ufonts.com_old-english-text-mt.ttf') format('truetype');
}
.titleSpecialFont {
	font-family: 'Libre Baskerville';
}
.img-title {
	max-height: 2em;
	height: 2em;
	line-height: 2em;
	margin-top: 0.5em;
}
.card,
.card-header {
	background-color: rgb(51, 51, 51);
}
.list-group-item.active {
	background-color: #505354;
	border-color: #505354;
}
.link-without-hover:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(51, 51, 51);
}

/* Utils */

.white {
	color: white;
}
.special-color {
	color: rgb(181, 181, 181);
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}
.hidedLinks {
	cursor: pointer;
}
.no-hover {
	pointer-events: none;
}

/* Viewer */

body > [uib-modal-window]:not([modal-render]) {
	display: none;
}
.modal {
	opacity: 1;
	color: white;
}
.modal-dialog {
	top: 10em;
}
.modal-content {
	background-color: rgb(51, 51, 51);
	/*background-color: transparent;*/
}
.modal-header {
	border-bottom: none;
}
.modal-backdrop.fade {
	opacity: 0.7;
}
.viewer-description {
	margin-top: 0.5rem;
}
.viewer-img {
	max-height: 600px;
}
.nonDraggableImage {
	-webkit-user-drag: none;
}
.viewer-content>.carousel-control-prev,
.viewer-content>.carousel-control-next {
	opacity: 0;
}
.viewer-content>.carousel-control-prev:hover,
.viewer-content>.carousel-control-next:hover {
	transition: 500ms;
	background-color: transparent;
	opacity: 1;
}

/* Biography */

.biography-content {}
.biography-img {
	max-height: 300px;
}

/* Contact */

.contact {
	background-color: rgb(51, 51, 51);
}

/* Home */

.home-logo {
	max-height: 150px;
}
.header-logo {
	max-height: 50px;
}

/* Share */

.facebook {
	background-color: rgb(51, 51, 51);
	border: 1px solid white;
	font-weight: bold;
	color: white;
}
.facebook:hover {
	background: #4267b2;
	border: 1px solid #4267b2;
}
.return {
	height: 28px;
	vertical-align: top;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}
.return:hover {
	background: #4267b2;
	font-weight: bold;
	border: 1px solid #4267b2;
}
.return > div {
	height: 28px;
	vertical-align: middle;
	width: 100px;
	line-height: 18px;
}

/* Mobile */

@media only screen and (min-width: 544px) and (max-width: 768px) {
	.carousel {
		margin-top: -7em;
	}
	.carousel-indicators {
		margin-bottom: 7em;
	}
}
@media only screen and (max-width: 544px) {
	.carousel {
		margin-top: -9em;
	}
	.carousel-indicators {
		margin-bottom: 12em;
	}
}
