<div class="container-fluid">

  <div class="jumbotron">
    <h1> À propos </h1>
  </div>

</div>

<div class="container-fluid biography-content">

  <div class="container-fluid">
    <img src="img/biography-img.jpg" class="img-fluid nonDraggableImage biography-img" />
    <br/>
    <br/>
  </div>

  <div class="container-fluid row special-color text-align-left">
    <div class="offset-md-2 col-md-8">
      <p>

        Photographe depuis de nombreuses années je m’essaye à tous les styles de photographie avec une seule règle, montrer ce qui
        est beau et transformer les images pour faire rêver. La devise que j’ai fait mienne : Dans chaque détail, une éternité.
        Je navigue entre le portrait que je pratique majoritairement depuis quelques temps, la photo de nature, la macro,
        la photo animalière, l’architecture, etc, entre la couleur et le noir et blanc toujours dans des thématiques alternatives.
      </p>
      <br />
      <p>
        Sur ce site se trouve regroupé l’intégralité de mon travail dans la catégorie portfolio. Les crédits des modèles, créateurs
        et photographes sont situés dans la catégorie liens, ainsi que les autres plateformes sur lesquelles je suis présente.
        Parce qu’il m’arrive de poser, les photos où je suis devant l’objectif sont visibles dans la catégorie
        <a
          data-ui-sref="gallery({category_id:1})">Modèle</a>. Si vous souhaitez me contacter, pour discuter de projets photos, de votre travail ou du mien, me demander
          des renseignements ou des tirages je vous invite à vous rendre dans la rubrique
          <a data-ui-sref="contact">Contact</a>.
      </p>
      <br />
      <p>
        Pour en savoir un peu plus sur moi et mon travail je vous invite à vous rendre sur cette interview :
        <a href="http://www.expo-enligne.fr/dame-tenebra-interview.html"
          target="_blank">http://www.expo-enligne.fr/dame-tenebra-interview.html</a>

      </p>
      <br />
      <p>
        Je vous souhaite une bonne visite !
      </p>
      <br />
      <p>
        Pour rappel, toutes les photographies présentes sont ma propriété exclusives et ne sont pas libres de droit. Les portraits
        sur lesquels sont présents des modèles sont également protégés par le droit à l’image des modèles. Aucune des photos
        de ce site ne peut être utilisée sans mon accord, vendue, imprimée, retouchée, diffusée ailleurs. Merci.
      </p>
    </div>
  </div>

</div>