<div class="container-fluid contact">

  <div class="jumbotron">
    <h1> Contact </h1>
  </div>

  <div class="row">
    <form name="contact_form" data-ng-submit="submit()" class="offset-md-3 col-md-6 text-align-left">

      <div class="form-group row">
        <label for="name" class="col-md-2 col-3 col-form-label">Name*</label>
        <div class="col-md-10 col-9" data-ng-class="{'has-danger':contact_form.name.$error.required&&contact_form.name.$dirty}">
          <input class="form-control" data-ng-class="{'form-control-danger':contact_form.name.$error.required&&contact_form.name.$dirty}"
            type="text" name="name" data-ng-model="fields.name" id="name" required>
          <p class="error" data-ng-show="contact_form.name.$dirty && contact_form.name.$invalid">
            <span class="form-control-feedback" data-ng-show="contact_form.name.$error.required">
              Your name is required.
            </span>
          </p>
        </div>
      </div>

      <div class="form-group row">
        <label for="website" class="col-md-2 col-3 col-form-label">Website</label>
        <div class="col-md-10 col-9">
          <input class="form-control" type="text" name="website" data-ng-model="fields.website">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-md-2 col-3 col-form-label">Email*</label>
        <div class="col-md-10 col-9" data-ng-class="{'has-danger':contact_form.email.$invalid&&contact_form.email.$dirty}">
          <input class="form-control" data-ng-class="{'form-control-danger':contact_form.email.$invalid&&contact_form.email.$dirty}"
            type="email" name="email" data-ng-model="fields.email" data-ng-model-options='{ debounce: 500 }' data-ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
            placeholder="name@example.com" required />
          <p class="error" data-ng-show="contact_form.email.$dirty && contact_form.email.$invalid">
            <span class="form-control-feedback" data-ng-show="contact_form.email.$error.required">
              <span class="glyphicon glyphicon-remove"></span> Your email is required.
            </span>
            <span class="form-control-feedback" data-ng-show="contact_form.email.$invalid && !contact_form.email.$error.required">
              <span class="glyphicon glyphicon-remove"></span> This looks like not to be a valid email.
            </span>
          </p>
        </div>
      </div>

      <div class="form-group row">
        <label for="subject" class="col-md-2 col-3 col-form-label">Subject*</label>
        <div class="col-md-10 col-9" data-ng-class="{'has-danger':contact_form.subject.$invalid&&contact_form.subject.$dirty}">
          <input class="form-control" data-ng-class="{'form-control-danger':contact_form.subject.$invalid&&contact_form.subject.$dirty}"
            type="text" name="subject" data-ng-model="fields.subject" id="subject" required>
          <p class="error" data-ng-show="contact_form.subject.$dirty && contact_form.subject.$invalid">
            <span class="form-control-feedback" data-ng-show="contact_form.subject.$error.required">
              Your subject is required.
            </span>
          </p>
        </div>
      </div>

      <div class="form-group row">
        <label for="message" class="col-md-2 col-3 col-form-label">Message</label>
        <div class="col-md-10 col-9" data-ng-class="{'has-danger':contact_form.subject.$invalid&&contact_form.subject.$dirty}">
          <textarea class="form-control" data-ng-class="{'form-control-danger':contact_form.message.$invalid&&contact_form.message.$dirty}"
            name="message" id="message" data-ng-model="fields.message" rows="7" required></textarea>
          <p class="error" data-ng-show="contact_form.subject.$dirty && contact_form.subject.$invalid">
            <span class="form-control-feedback" data-ng-show="contact_form.subject.$error.required">
              Your message is required.
            </span>
          </p>
          <small class="form-text text-muted">(Fields with "*" needs to be filled to continue)</small>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-3 col-9 text-align-right">
          <button type="submit" class="btn" data-ng-class="{true: 'btn-success', false: 'btn-default'}[contact_form.$valid]" data-ng-disabled="!contact_form.$valid">Send</button>
        </div>
      </div>

    </form>
  </div>

</div>