<div class="container-fluid">

	<div class="jumbotron">
		<h1 ng-bind="category.category_name"></h1>
		<p ng-bind="category.category_description" class="special-color"></p>
	</div>

</div>

<div class="container-fluid gallery-container" style="text-align: center;">

	<div class="row">

		<div ng-repeat="img in photos | objectToArray | orderBy:'position'" class="col-sm-4" ng-show="img.h">
			<div title="{{ img.caption }}">
				<h3 class="img-title" ng-bind="img.title"></h3>
				<img ng-src="{{ img.url }}" class="img-fluid hidedLinks" alt="{{ img.title }}" ng-click="show(img.id)">
			</div>
		</div>

	</div>

	<div class="row">

		<div ng-repeat="img in photos | objectToArray | orderBy:'position'" class="col-sm-4" ng-show="img.v">
			<div title="{{ img.caption }}">
				<h3 class="img-title" ng-bind="img.title"></h3>
				<img ng-src="{{ img.url }}" class="img-fluid hidedLinks" alt="{{ img.title }}" ng-click="show(img.id)">
			</div>
		</div>

	</div>

</div>
