<div class="container-fluid">

    <div class="jumbotron reduce-jumbotron ">
        <img src="img/logo.png" class="img-fluid nonDraggableImage home-logo" alt="Dame Tenebra Photography" />
        <br />
        <br />
        <h1>Artiste photographe</h1>
    </div>

</div>

<div class="container-fluid">

    <div id="homeCarousel" class="carousel slide" data-ride="carousel" data-interval="0" ng-swipe-left="next()" ng-swipe-right="previous()">

        <ol class="carousel-indicators">
            <li ng-repeat="photo in photos" data-target="#homeCarousel" data-slide-to="{{ $index }}" ng-class="{ 'active': $index == 0 }"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item" ng-repeat="photo in photos" ng-class="{ 'active': $index == 0 }">
                <img class="d-block img-fluid nonDraggableImage" ng-src="img/full/{{ photo.photo_link }}" alt="{{ photo.photo_name }}">
            </div>
        </div>

        <a class="carousel-control-prev" data-target="#homeCarousel" role="button" data-slide="prev" ng-non-bindable>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" data-target="#homeCarousel" role="button" data-slide="next" ng-non-bindable>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

</div>