<div class="container-fluid">

	<div class="jumbotron">
		<h1> Legal Notice </h1>
		<p>This the legal notice of my website.</p>
	</div>

</div>

<div class="container-fluid">

	<p>
		<h2>Identification du Site </h2>
		<br /> Nom du site : Dame Ténébra Photography
		<br /> URL complète du site : http://dametenebra.com
		<br /> Propriétaire du site
		<br /> Touzeau Amandine
		<br /> 7 rue Gustave Rey 92250 La Garenne Colombes
		<br /> dametenebra@dametenebra.com
		<br />
		<br />
	</p>

	<p>
		<h2>Lois directement applicables </h2>
		<br /> Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique : art. 6-III et art. 19
		<br /> Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés : art. 22 et art. 32
		<br /> Code de la consommation : art. L. 111-2 + L. 121-18
		<br /> Code général des impôts : art. 286 ter
		<br /> Loi n° 82-652 du 29 juillet 1982 sur la communication audiovisuelle : art. 93-2
		<br />
		<br />
	</p>

	<p>
		<h2>Hébergeur du site </h2>
		<br /> OVH
		<br /> SAS au capital de 10 059 500 €
		<br /> RCS Lille Métropole 424 761 419 00045
		<br /> Code APE 6202A
		<br /> N° TVA : FR 22 424 761 419
		<br /> Siège social : 2 rue Kellermann - 59100 Roubaix - France.
		<br /> Directeur de la publication : Octave KLABA
		<br />
		<br />
	</p>

	<p>
		<h2>Les photos de la catégorie Modèle sont le travail des photographes suivants </h2>
		<br /> Clément Villemont http://clement-villemont.com/
		<br /> Alban Wyters
		<br /> Damien Chanel http://www.damienchanel.com/
		<br /> Thomas Smith http://www.damienchanel.com/
		<br /> Maelstrom Photography https://www.facebook.com/MaelstromPhoto
		<br />
		<br />
	</p>

	<p>
		<h2>Concepteur du site </h2>
		<br /> Eliott Laversin
		<br /> contact@dametenebra.com
		<br />
		<br />
	</p>

</div>
