<div class="container-fluid">

	<div class="jumbotron">
		<h1> Portfolio </h1>
		<p> Here are all themes i like to photography. Let's watch ;) </p>
	</div>

</div>

<div class="container-fluid" style="text-align: center;">

	<div class="row">

		<div ng-repeat="category in categories" class="col-sm-4" ng-show="category.photo_width > category.photo_height && category.active == 1">
			<div ui-sref="gallery({category_id:category.category_id})" title="{{ category.category_description }}">
				<h3 class="img-title" ng-bind="category.category_name"></h3>
				<img ng-src="img/full/{{ category.photo_link }}" class="img-fluid" alt="{{ category.name }}">
			</div>
		</div>

	</div>

	<div class="row">

		<div ng-repeat="category in categories" class="col-sm-4" ng-show="category.photo_width < category.photo_height && category.active == 1">
			<div ui-sref="gallery({category_id:category.category_id})" title="{{ category.category_description }}">
				<h3 class="img-title" ng-bind="category.category_name"></h3>
				<img ng-src="img/full/{{ category.photo_link }}" class="img-fluid" alt="{{ category.name }}">
			</div>
		</div>

	</div>

</div>
