<div class="container-fluid">

    <div class="jumbotron">
        <h1> Portfolio </h1>
        <p class="special-color"> Dans chaque détail, une éternité </p>
    </div>

</div>

<div class="container-fluid">

    <div class="row" ng-repeat="categories in hDisplay">
        <div ng-repeat="category in categories track by $index" class="col-sm-4" ng-class="{ 'offset-sm-4': categories.length === 1, 'offset-sm-2': categories.length === 2 && $index === 0 }" title="{{ category.category_description }}">
            <h3 class="img-title" ng-bind="category.category_name"></h3>
            <img ng-src="img/full/{{ category.photo_link }}" class="img-fluid hidedLinks" alt="{{ category.name }}" ui-sref="gallery({category_id:category.category_id})">
        </div>
    </div>

    <div class="row" ng-repeat="categories in vDisplay">
        <div ng-repeat="category in categories track by $index" class="col-sm-3" ng-class="{ 'offset-sm-5': categories.length === 1, 'offset-sm-3': categories.length === 2 && $index === 0, 'offset-sm-2': categories.length === 3 && $index === 0}" title="{{ category.category_description }}">
            <h3 class="img-title" ng-bind="category.category_name"></h3>
            <img ng-src="img/full/{{ category.photo_link }}" class="img-fluid hidedLinks" alt="{{ category.name }}" ui-sref="gallery({category_id:category.category_id})">
        </div>
    </div>

</div>