/img
out/
test-output/
*.iml
*.iws
*.ipr
target/
.idea
**/out/
**/*.iml
**/target/
.project
.classpath
.settings/
.metadata/
.recommenders/
conf.properties

# nodejs shits
node_modules/
npm-debug.log

# nodejs libs & grunt generation
lib/vendor
css/client.css
js/client.js