<div class="container-fluid">

    <div class="jumbotron">
        <h1> {{ category.category_name }} </h1>
        <p ng-show="{{ category.category_description != '' }}"> {{ category.category_description }} </p>
        <p ng-show="{{ category.category_description == '' }}"> Here is all photos for the category "{{ category.category_name }}" </p>
    </div>

</div>

<div class="container-fluid" style="text-align: center;">

    <div class="row">

        <div ng-repeat="photo in photos" class="col-sm-4" ng-show="photo.photo_width > photo.photo_height && photo.active == 1">
            <div>
                <h3>{{ photo.photo_name }}</h3>
                <p class="description">
                    {{ photo.photo_description }}
                </p>
                <a class="fancybox" rel="gallery" ng-click="openLightboxModal($index)" title="{{ photo.photo_name }}" description="{{ photo.photo_description }}" fancybox>
                    <img ng-src="img/full/{{ photo.photo_link }}" class="img-rounded img-responsive" alt="Cinque Terre">
                </a>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        
        <div ng-repeat="photo in photos" class="col-sm-4" ng-show="photo.photo_width < photo.photo_height && photo.active == 1">
            <div>
                <h3>{{ photo.photo_name }}</h3>
                <p class="description">
                    {{ photo.photo_description }}
                </p>
                <a class="fancybox" rel="gallery" ng-click="openLightboxModal($index)" title="{{ photo.photo_name }}" description="{{ photo.photo_description }}" fancybox>
                    <img ng-src="img/full/{{ photo.photo_link }}" class="img-rounded img-responsive" alt="Cinque Terre">
                </a>
            </div>
        </div>
 
    </div>

</div>
