<div class="container-fluid">

    <div class="jumbotron">
        <h1> Links </h1>
        <p>This is my links catalog.</p>
    </div>

</div>

<div class="container-fluid" style="text-align: center;">

    <div class="panel-group" id="accordion">

        <!-- Mes autres galleries (déplié) -->
        <div class="panel panel-default no-border">
            <div class="panel-heading">
                <h3>
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                        Mes autres galleries
                    </a>
                </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="row">
                    <div class="col-sm-6 jumbotron">
                        <a href="http://dametenebra.deviantart.com/" target="_blank">Deviant Art</a>
                    </div>
                    <div class="col-sm-6 jumbotron">
                        <a href="http://500px.com/dametenebra" target="_blank">500px</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Photographes à voir (replié) -->
        <div class="panel panel-default no-border">
            <div class="panel-heading">
                <h3> 
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                        Photographes à voir
                    </a>
                </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="row">
                    
                    <div class="col-sm-6 jumbotron divlinks" ng-repeat="owner in owners">
                        <h3> {{ owner.owner_name }} </h3>
                        <div>
                            <ul class="nav nav-stacked">
                                <li ng-repeat="link in owner.links">
                                    <a href="{{ link.link_link }}" target="_blank"> {{ link.link_name }} </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>

        <!-- Conseils photos et tutos (replié) -->
        <div class="panel panel-default no-border">
            <div class="panel-heading">
                <h3>
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                        Conseils photos et tutos
                    </a>
                </h3>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <p>
                    (En construction, à venir prochainement)
                </p>
            </div>
        </div>

    </div>

</div>
