<!--<div class="alert alert-info alert-dismissible fade show" role="alert" x-ng-if="!miningCookieExists"> -->
<!--<div> -->
<!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
<!--  <span aria-hidden="true">&times;</span> -->
<!--</button> -->
<!-- Hello! I let my work free on this website, but the server is not payed by itself. To avoid ads, i use -->
<!--<a href="https://en.wikipedia.org/wiki/Cloud_mining" target="_blank">Cloud mining</a>. If you want to help me, allow me to use a few seconds of your CPU calcul power, just during your navigation -->
<!-- by clicking on "Accept" and by disabling you ad blocker on my domain. If you don't want, just click on "Decline" and -->
<!-- you'll not be anoyed by this anymore. In both case, a simple cookie will be set in your browser to remember your decision. -->
<!--  Enjoy your visit ! -->
<!-- </div> -->
<!-- <div> -->
<!-- TODO remove / update this & create a dedicated mining page -->
<!-- <button type="button" class="btn btn-outline-danger btn-sm" data-ng-click="allowMining(false)">Decline</button> -->
<!-- <button type="button" class="btn btn-outline-success btn-sm" data-ng-click="allowMining(true)">Accept</button> -->
<!--</div> -->
<!--</div> -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" data-ui-sref="home" data-ng-if="isActive('/home')">DameTenebra Photography</a>
  <a class="navbar-brand" data-ui-sref="home" data-ng-if="!isActive('/home')">
    <img src="img/logo_50.png" class="img-fluid nonDraggableImage header-logo" alt="Dame Tenebra Photography" />
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item" data-ng-class="{ active: isActive('/home') }">
        <a class="nav-link" data-ui-sref="home">Accueil</a>
      </li>
      <li class="nav-item" data-ng-class="{ active: isActive('/links') }">
        <a class="nav-link" data-ui-sref="links">Liens</a>
      </li>
      <li class="nav-item" data-ng-class="{ active: isActive('/biography') }">
        <a class="nav-link" data-ui-sref="biography">À propos</a>
      </li>
      <li class="nav-item" data-ng-class="{ active: isActive('/portfolio') }">
        <a class="nav-link" data-ui-sref="portfolio">Portfolio</a>
      </li>
      <li class="nav-item" data-ng-class="{ active: isActive('/gallery/1') }">
        <a class="nav-link" data-ui-sref="gallery({category_id:1})">Modèle</a>
      </li>
      <li class="nav-item" data-ng-class="{ active: isActive('/contact') }">
        <a class="nav-link" data-ui-sref="contact">Contact</a>
      </li>
      <li class="nav-item" data-ng-class="{ active: isActive('/legalNotice') }">
        <a class="nav-link" data-ui-sref="legalNotice">Mentions légales</a>
      </li>
    </ul>
  </div>
</nav>